html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 1em 0;
}

.pg-page{
  margin: 0 5px;
}

.pg-link{
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  text-decoration: none;
  color: #008080; /* blue */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-link:hover {
  background-color: #ddd;
}

.pg-page.active .pg-link {
  background-color: #008080;
  color: #fff;
  border-color: #008080;
}

.pg-page.disabled .pg-link {
  background-color: #e0e0e0;
  color: grey;
  cursor: not-allowed;
}

.cell-click {
  cursor: pointer;
}